.feed {
    flex: 0.4;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    min-width: 600px;
    overflow-y: scroll;
    padding: 1px;
    background-color: black;
    
 }

.profile-img {
     border-radius: 50%;
     width: 200px;
     height: 200px;
     margin-left: 10px;
     border: 4px solid black;
     margin-top: 150px;
 }

.projects-img {
    width: 500px;
    height: 300px;
    border-radius: 20px;
}

h2 {
    color: #E0C6F8;
}

.name {
    color: #E0C6F8;
}
#heart-icon {
    color: hotpink;
}

.twitter-handle {
    color: grey;
}

#twitter {
    color: grey;
}

.feed_header {
    padding: 15px 10px;
    background-image: url('./images/unsplash-image-comp.jpg');
    background-size: 600px 270px;
    background-repeat: no-repeat;
       
}

.feed::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}

.border-box {
    border-bottom: 1px solid grey;
    background-color: black;
    padding-top: 20px;
}

.project-box {
    padding: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid grey;
    /* border-top: 1px solid grey; */
    background-color: black;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    background-color: black;
}

@media only screen and (max-width: 600px) {
    .feed_header {
        /* max-width: 350px; */
        background-image: none;
        background-size: 0;
        padding-top: 0;
        width: 100%;

    }
    .feed {
        display: block;
        min-width: 350px;
        border: none;
        background-color: black;
        padding-left: 10px;
        padding-right: 10px;
        /* max-width: 350px; */
        width: 100%;
        
        
    }
    .project-box {
        max-width: 350px;
        background-color: black;
        margin-top: 0;
        padding-top: 0;
        max-width: fit-content;
    }
    .projects-img {
        width: 300px;
        
    }


    .profile-img {
        padding-top: 0;
    }
  }