.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    position: sticky;
    flex: 0.3;
}

.sidebarOption:hover {
    color: black;
    border-radius: 30px;
    background-color: lavenderblush;
    
}
.sidebars {
    position: sticky;
}

.sidebarOption > h2 {
    padding-left: 20px;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .sidebars {
        display: none;
    }
    
}


  