.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    position: sticky;
    flex: 0.3;
}

.sidebarOption:hover {
    color: white;
    border-radius: 30px;
    background-color: lavenderblush;
    
}
.sidebars {
    position: sticky;
}

.sidebarOption > h2 {
    padding-left: 20px;
}

a {
    text-decoration: none;
}