.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}

.sidebarOption:hover {
    color: white;
    border-radius: 30px;
    background-color: lavenderblush;
    
}
.sidebarOption:active {
    /* color: #1DA1F2; */
  }

.sidebarOption > h2 {
    padding-left: 20px;
}

a {
    text-decoration: none;
}